Desktop/Ops1-Final/skills/n8n-workflows/receptionist-router-workflow.json
{
  "name": "Ops1-Receptionist-Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receptionist",
        "responseMode": "responseNode"
      },
      "name": "Incoming Request",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "claude-3-haiku-20240307"},
            {"name": "max_tokens", "value": "1000"},
            {"name": "system", "value": "You are the Orchestrator for Ops-1. Analyze the request and return JSON with: {thoughts, language, routes: [{agent_name, priority, instructions, parameters}], missing_info, user_response}. Agents: Receipt_Capture, Excel_Agent, SQL_Agent, QuickBooks_Agent, Sage_Agent, Compliance_Auditor, PowerBI_Agent, Report_Writer, Calendar_Agent."},
            {"name": "messages", "value": "={{ JSON.stringify([{role: 'user', content: $json.body.message || $json.body.text || ''}]) }}"}
          ]
        }
      },
      "name": "Orchestrator AI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Parse orchestrator response\nlet response = $input.first().json.content?.[0]?.text || '{}';\n\ntry {\n  if (response.includes('```')) {\n    response = response.split('```')[1].replace('json', '').trim();\n  }\n  \n  const orchestration = JSON.parse(response);\n  const routes = orchestration.routes || [];\n  \n  // Sort by priority\n  const sortedRoutes = routes.sort((a, b) => a.priority - b.priority);\n  \n  return {\n    json: {\n      orchestration,\n      routes: sortedRoutes,\n      language: orchestration.language || 'en',\n      user_response: orchestration.user_response || 'Processing your request...',\n      missing_info: orchestration.missing_info,\n      total_agents: routes.length\n    }\n  };\n} catch (e) {\n  return {\n    json: {\n      error: 'Failed to parse orchestrator response',\n      raw: response\n    }\n  };\n}"
      },
      "name": "Parse Orchestration",
      "type": "n8n-nodes-base.code",
      "position": [650, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.missing_info }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "name": "Has Missing Info?",
      "type": "n8n-nodes-base.if",
      "position": [850, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// Route to agents based on orchestration\nconst routes = $json.routes || [];\nconst webhooks = {\n  'Receipt_Capture': '/webhook/receipt-capture',\n  'Excel_Agent': '/webhook/excel-agent',\n  'SQL_Agent': '/webhook/sql-agent',\n  'QuickBooks_Agent': '/webhook/quickbooks-query',\n  'Sage_Agent': '/webhook/sage-query',\n  'Compliance_Auditor': '/webhook/compliance-audit',\n  'PowerBI_Agent': '/webhook/powerbi-agent',\n  'Report_Writer': '/webhook/generate-report',\n  'Calendar_Agent': '/webhook/schedule-meeting'\n};\n\n// Prepare routing info\nconst routingPlan = routes.map(route => ({\n  agent: route.agent_name,\n  webhook: webhooks[route.agent_name] || '/webhook/unknown',\n  priority: route.priority,\n  instructions: route.instructions,\n  parameters: route.parameters\n}));\n\nreturn {\n  json: {\n    ...$json,\n    routing_plan: routingPlan,\n    status: 'ready_to_execute'\n  }\n};"
      },
      "name": "Prepare Routing",
      "type": "n8n-nodes-base.code",
      "position": [1050, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: true, message: $json.user_response, agents_invoked: $json.total_agents, routing: $json.routing_plan}) }}"
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1250, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: false, needs_clarification: true, message: $json.missing_info}) }}"
      },
      "name": "Respond Missing Info",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1050, 400],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Incoming Request": {
      "main": [[{"node": "Orchestrator AI", "type": "main", "index": 0}]]
    },
    "Orchestrator AI": {
      "main": [[{"node": "Parse Orchestration", "type": "main", "index": 0}]]
    },
    "Parse Orchestration": {
      "main": [[{"node": "Has Missing Info?", "type": "main", "index": 0}]]
    },
    "Has Missing Info?": {
      "main": [
        [{"node": "Prepare Routing", "type": "main", "index": 0}],
        [{"node": "Respond Missing Info", "type": "main", "index": 0}]
      ]
    },
    "Prepare Routing": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    }
  }
}
